
# .gitignore in the root directory of your project

# Ignore node_modules directories
FlowofEnglish_Frontend/node_modules/
FlowofEnglish_Frontend/FoE/packages/admin/build
# FlowofEnglish_Frontend/FoE/packages/admin/yarn.lock
# FlowofEnglish_Frontend/FoE/packages/admin/package-lock.json
FlowofEnglish_Frontend/FoE/node_modules/
FlowofEnglish_Frontend/FoE/packages/*/node_modules/
FlowofEnglish_UserFrontend/node_modules/
FlowofEnglish_UserFrontend/dist/
FlowofEnglish_UserFrontend/public/Learner-v4/
FlowofEnglish_UserFrontend/tsconfig.app.tsbuildinfo
FlowofEnglish_Frontend/FoE/packages/admin/.env
FlowofEnglish_UserFrontend/.env
FlowofEnglish_UserFrontend/public/Grammar/
FlowofEnglish_UserFrontend/public/Sentences/
FlowofEnglish_Backend/uploads/
# FlowofEnglish_UserFrontend/package-lock.jsonFlowofEnglish_Backend/src/main/resources/application.properties
FlowofEnglish_Backend/src/main/resources/application.properties
