@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
  
  .custom-scrollbar-2::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    border-radius: 2px;
    background: transparent; /* Hide scrollbar by default */
  }

  .custom-scrollbar-2:hover::-webkit-scrollbar {
    /* background: rgba(0, 0, 0, 0.1); Light background when hovering */
  }

  .custom-scrollbar-2::-webkit-scrollbar-thumb {
    background: transparent; /* Hide scrollbar thumb by default */
    border-radius: 50px;
  }

  .custom-scrollbar-2:hover::-webkit-scrollbar-thumb {
    background: #e2e8f0; /* Show scrollbar thumb when hovering over div */
  }


  .no-scrollbar::-webkit-scrollbar {
          display: none;
      }
     /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
    }
}

/* Animate flying bird */
@keyframes fly {
  0% {
    transform: translate(100%, 0); /* Start at top-right */
  }
  25% {
    transform: translate(50%, 30%); /* Move diagonally down */
  }
  50% {
    transform: translate(0%, 50%); /* At the middle, slightly lower */
  }
  75% {
    transform: translate(-50%, 30%); /* Moving diagonally up */
  }
  100% {
    transform: translate(-150%, 0); /* End at top-left, off-screen */
  }
}

.animate-fly {
  animation: fly 10s ease-in-out infinite; /* Adjust duration as needed */
  position: absolute;
  top: 2rem; /* Starting vertical position */
  right: 0; /* Starting horizontal position */
}




